In [90]:
import pandas as pd

In [91]:
df=pd.read_csv("Customer.csv")
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [92]:
newdf=df.iloc[:,1:5]

In [93]:
newdf

    gender   review education purchased
0   Female  Average    School        No
1   Female     Poor        UG        No
2   Female     Good        PG        No
3   Female     Good        PG        No
4   Female  Average        UG        No
5   Female  Average    School       Yes
6     Male     Good    School        No
7   Female     Poor    School       Yes
8   Female  Average        UG        No
9     Male     Good        UG       Yes
10  Female     Good        UG       Yes
11    Male     Good        UG       Yes
12    Male     Poor    School        No
13  Female  Average    School        No
14    Male     Poor        PG       Yes
15    Male     Poor        UG        No
16    Male     Poor        UG       Yes
17  Female     Poor        UG       Yes
18    Male     Good    School        No
19    Male     Poor        PG       Yes
20  Female  Average    School       Yes
21    Male  Average        PG        No
22  Female     Poor        PG       Yes
23  Female     Good    School        No
24  Female  Average        PG       Yes
25  Female     Good    School        No
26  Female     Poor        PG        No
27  Female     Poor        PG        No
28    Male     Poor    School        No
29  Female  Average        UG       Yes
30    Male  Average        UG        No
31  Female     Poor    School       Yes
32    Male  Average        UG       Yes
33  Female     Good        PG       Yes
34    Male  Average    School        No
35    Male     Poor    School       Yes
36  Female     Good        UG       Yes
37    Male  Average        PG       Yes
38  Female     Good    School        No
39    Male     Poor        PG        No
40    Male     Good    School        No
41    Male     Good        PG       Yes
42  Female     Good        PG       Yes
43    Male     Poor        PG        No
44  Female  Average        UG        No
45    Male     Poor        PG       Yes
46  Female     Poor        PG        No
47  Female     Good        PG       Yes
48  Female     Good        UG       Yes
49  Female     Good        UG        No

# basically here we are going to perform ordinal encoding on level of education coz it has some sort of ranking
and level encoding on test preparation course coz it is categorical output column

In [94]:
newnewdf=newdf.iloc[:,1:4]

In [95]:
newnewdf

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No
31     Poor    School       Yes
32  Average        UG       Yes
33     Good        PG       Yes
34  Average    School        No
35     Poor    School       Yes
36     Good        UG       Yes
37  Average        PG       Yes
38     Good    School        No
39     Poor        PG        No
40     Good    School        No
41     Good        PG       Yes
42     Good        PG       Yes
43     Poor        PG        No
44  Average        UG        No
45     Poor        PG       Yes
46     Poor        PG        No
47     Good        PG       Yes
48     Good        UG       Yes
49     Good        UG        No

In [96]:
from sklearn.model_selection import train_test_split

# selecting X and Y column and mentioning the test size

In [97]:
X_train,X_test,y_train,y_test=train_test_split(newnewdf.iloc[:,0:2],newnewdf.iloc[:,-1],test_size=0.2)

In [98]:
X_train

     review education
18     Good    School
28     Poor    School
44  Average        UG
47     Good        PG
48     Good        UG
1      Poor        UG
39     Poor        PG
5   Average    School
14     Poor        PG
15     Poor        UG
42     Good        PG
16     Poor        UG
12     Poor    School
23     Good    School
9      Good        UG
45     Poor        PG
31     Poor    School
8   Average        UG
41     Good        PG
32  Average        UG
6      Good    School
11     Good        UG
21  Average        PG
46     Poor        PG
40     Good    School
49     Good        UG
2      Good        PG
4   Average        UG
35     Poor    School
30  Average        UG
25     Good    School
7      Poor    School
27     Poor        PG
17     Poor        UG
26     Poor        PG
33     Good        PG
34  Average    School
38     Good    School
3      Good        PG
24  Average        PG

In [99]:
from sklearn.preprocessing import OrdinalEncoder

In [100]:
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG',"PG"]])

In [101]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [102]:
X_train1=oe.transform(X_train)
X_test1=oe.transform(X_test)

In [103]:
X_train1

array([[2., 0.],
       [0., 0.],
       [1., 1.],
       [2., 2.],
       [2., 1.],
       [0., 1.],
       [0., 2.],
       [1., 0.],
       [0., 2.],
       [0., 1.],
       [2., 2.],
       [0., 1.],
       [0., 0.],
       [2., 0.],
       [2., 1.],
       [0., 2.],
       [0., 0.],
       [1., 1.],
       [2., 2.],
       [1., 1.],
       [2., 0.],
       [2., 1.],
       [1., 2.],
       [0., 2.],
       [2., 0.],
       [2., 1.],
       [2., 2.],
       [1., 1.],
       [0., 0.],
       [1., 1.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [0., 1.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [2., 0.],
       [2., 2.],
       [1., 2.]])

In [104]:
X_train = pd.DataFrame(X_train1,columns=X_train.columns)

In [105]:
X_train

    review  education
0      2.0        0.0
1      0.0        0.0
2      1.0        1.0
3      2.0        2.0
4      2.0        1.0
5      0.0        1.0
6      0.0        2.0
7      1.0        0.0
8      0.0        2.0
9      0.0        1.0
10     2.0        2.0
11     0.0        1.0
12     0.0        0.0
13     2.0        0.0
14     2.0        1.0
15     0.0        2.0
16     0.0        0.0
17     1.0        1.0
18     2.0        2.0
19     1.0        1.0
20     2.0        0.0
21     2.0        1.0
22     1.0        2.0
23     0.0        2.0
24     2.0        0.0
25     2.0        1.0
26     2.0        2.0
27     1.0        1.0
28     0.0        0.0
29     1.0        1.0
30     2.0        0.0
31     0.0        0.0
32     0.0        2.0
33     0.0        1.0
34     0.0        2.0
35     2.0        2.0
36     1.0        0.0
37     2.0        0.0
38     2.0        2.0
39     1.0        2.0

In [106]:
from sklearn.preprocessing import LabelEncoder

In [107]:
le=LabelEncoder()

In [109]:
le.fit(y_train)

LabelEncoder()

In [112]:
y_train1=le.transform(y_train)
y_test1=le.transform(y_test)

In [114]:
y_train1

array([0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1])

In [115]:
y_train

18     No
28     No
44     No
47    Yes
48    Yes
1      No
39     No
5     Yes
14    Yes
15     No
42    Yes
16    Yes
12     No
23     No
9     Yes
45    Yes
31    Yes
8      No
41    Yes
32    Yes
6      No
11    Yes
21     No
46     No
40     No
49     No
2      No
4      No
35    Yes
30     No
25     No
7     Yes
27     No
17    Yes
26     No
33    Yes
34     No
38     No
3      No
24    Yes
Name: purchased, dtype: object